<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Translators Available</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles_trans.css') }}">

</head>
<body>
    <form id="formulario">


        <select id="industry" name="industry" required>
            <option value="">Select Industry</option>
            <option value="Electrical Components & Equipment">Electrical Components & Equipment</option>
            <option value="Technology Hardware, Storage & Peripherals">Technology Hardware, Storage & Peripherals</option>
            <option value="Trading Companies & Distributors">Trading Companies & Distributors</option>
        </select>

        <select id="task-type" name="task_type" required>
            <option value="">Task Type</option>
            <option value="ProofReading">ProofReading</option>
            <option value="Translation">Translation</option>
        </select>

        <input type="text" id="source-language" placeholder="Original Language" name="source_language" required>

        <input type="text" id="target-language" placeholder="Target Language" name="target_language" required>

        <input type="number" id="forecast" placeholder="Forecast" name="forecast" required>

        <input type="number" id="hourly_rate" placeholder="Hourly Rate" name="hourly_rate" required>

        <select id="pm" name="pm" required>
            <option value="">Select PM</option>
            <option value="BMT">BMT</option>
            <option value="RMT">RMT</option>
            <option value="PMT">PMT</option>
        </select>

        <button type="submit" id="search-translators">Search Translators</button>
    </form>
    
    <!--<button type="submit" id="search-translators">Search Translators</button>-->

    <button id="back-to-form">Back to Form</button>


    <div id="translators-available">
        <div id="left-panel">
            <div id="translators-list"></div>
        </div>
        
        <div id="right-panel">
            <h2>Alternative Possibilities</h2>
            <div id="possible-trans-list"></div>
        </div>

    </div>
    
    <!--PANEL DE MÁS INFORMACIÓN-->
    <div id="translator-info-panel" class="hidden">
        <button id="close-panel">✖</button>
        <div id="translator-info-content">
            <h2>Translator Details</h2>
            <p id="translator-details-text">Aran si hubiera trabajado...</p>
        </div>
    </div>


    <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>