<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Translators Available</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles_trans.css') }}">

</head>
<body>
    <form id="formulario">
        <select id="manufacturer" name="manufacturer">
            <option value="">Manufacturer</option>
            <option value="MetaPro">MetaPro</option>
            <option value="SunTech">SunTech</option>
            <option value="NexisOne">NexisOne</option>
            <option value="Global Trading Solutions">Global Trading Solutions</option>
        </select>
        

        <select id="sector" name="sector">
            <option value="">Select Sector</option>
            <option value="Information Technology">Information Technology</option>
            <option value="Industrials">Industrials</option>
            <option value="Communication Services">Communication Services</option>
            <option value="Health Care">Health Care</option>
            <option value="Consumer Discretionary">Consumer Discretionary</option>
        </select>

        <select id="industry" name="industry">
            <option value="">Select Industry</option>
            <option value="Electrical Components & Equipment">Electrical Components & Equipment</option>
            <option value="Technology Hardware, Storage & Peripherals">Technology Hardware, Storage & Peripherals</option>
            <option value="Trading Companies & Distributors">Trading Companies & Distributors</option>
        </select>

        <select id="industry-group" name="industry_group">
            <option value="">Select Industry Group</option>
            <option value="Technology Hardware & Equipment">Technology Hardware & Equipment</option>
            <option value="Software & Services">Software & Services</option>
            <option value="Health Care Providers">Health Care Providers</option>
        </select>

        <select id="sub-industry" name="sub_industry">
            <option value="">Select Sub Industry</option>
            <option value="Technology Hardware, Storage & Peripherals">Technology Hardware, Storage & Peripherals</option>
            <option value="Communications Equipment">Communications Equipment</option>
            <option value="Systems Software">Systems Software</option>
        </select>

        <select id="task-type" name="task_type">
            <option value="">Task Type</option>
            <option value="ProofReading">ProofReading</option>
            <option value="Translation">Translation</option>
        </select>

        <input type="text" id="original-language" placeholder="Original Language" name="original_language" >

        <input type="text" id="target-language" placeholder="Target Language" name="target_language" >

        <input type="number" min="0" id="budget" placeholder="Budget" name="budget" >

        <input type="text" id="project-id" placeholder="Project ID" name="project_id" >

        <input type="date" id="finish-date" name="finish_date" placeholder="Finish Date">


        <select id="pm" name="pm">
            <option value="">Select PM</option>
            <option value="BMT">BMT</option>
            <option value="RMT">RMT</option>
            <option value="PMT">PMT</option>
        </select>

        <button type="submit" id="search-translators">Search Translators</button>
    </form>
    
    <!--<button type="submit" id="search-translators">Search Translators</button>-->

    <button id="back-to-form">Back to Form</button>


    <div id="translators-available">
        <div id="left-panel">
            <div id="translators-list"></div>
        </div>
        
        <div id="right-panel">
            <h2>Alternative Possibilities</h2>
            <div id="possible-trans-list"></div>
        </div>

    </div>
    
    <!--PANEL DE MÁS INFORMACIÓN-->
    <div id="translator-info-panel" class="hidden">
        <button id="close-panel">✖</button>
        <div id="translator-info-content">
            <h2>Translator Details</h2>
            <p id="translator-details-text">Aran si hubiera trabajado...</p>
        </div>
    </div>


    <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>